<div id="templates">
    <div id="message">
        <div class="customer-chat-content-message">
            <div class="customer-chat-content-message-column">
                <div class="customer-chat-content-message-author"></div>
                <div class="customer-chat-content-message-time"></div>
                <div class="customer-chat-content-message-body"></div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>
