body {
  font-size: 0.875rem;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #03849c;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebar .nav-link {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.sidebar .nav-link.active {
  color: #fff;
  background-color: #ef9003;
}
.sidebar .nav-link.active:hover {
  color: #fff;
  background-color: #ffa501 !important;
}
.sidebar .nav-link .fa {
  min-width: 50px;
  text-align: center;
}

.sidebar .nav-fold {
  padding: 20px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebar .nav-item .collapse.nav {
  opacity: 0;
}
.sidebar .nav-item .collapse.nav.show {
  opacity: 1;
  transition: all 0.25s ease-out;
}
.sidebar .nav-item > .collapse.nav > .nav-item {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 0px none;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar .nav-item > .collapse.nav,
.sidebar .nav-item > .nav.collapsing {
  transition: all 0.1s ease-out;
  opacity: 0;
}
.sidebar .nav-item > .nav.show {
  opacity: 1;
}
.sidebar .nav-item > .collapsed .fa-angle-down {
  display: none;
}
.sidebar .nav-item .fa-angle-right {
  display: none;
}
.sidebar .nav-item > .collapsed .fa-angle-right {
  display: inline-block;
}
.sidebar .nav-item > .nav.show .nav-link {
  padding-left: 50px;
}
.sidebar .nav-item > .collapse.nav .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.user-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #a6d3ed;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.sidebar .nav-fold a {
  color: #fff;
}
.sidebar .nav-fold a small {
  color: #aedbf5;
}
/*
 * Navbar
 */

.navbar-brand {
  text-align: center;
  position: relative;
  color: #00bcd2;
  font-size: 1.875em;
  background: url(../img/logocpif-1.png) no-repeat center center transparent;
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 75px;
  background-size: 150px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: -1px;
  background-color: #5695a8;
}

.navbar.bg-dark {
  background-color: #fff !important;
  border-bottom: 0px none;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
  top: 0.6rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.user-avatar img {
  width: 100%;
}
.main-header .nav .nav-link {
  color: #03849c;
  text-transform: uppercase;
  font-weight: 600;
}
.main-header .nav .nav-link.active {
  position: relative;
  color: #00bcd2;
}
.main-header .badge.up {
  padding: 0.1565rem 0.245rem;
  position: relative;
  top: -0.75rem;
  left: -0.65rem;
  margin-right: -1rem;
  font-size: 70%;
  background-clip: padding-box;
  min-width: 1rem;
}
.danger {
  color: rgba(255, 255, 255, 0.85);
  background-color: #ea2e49;
}

/*
 * Main Container
 */
.h3 {
  color: #00bcd2;
}
.btn-primary {
  background-color: #00bcd2;
  border-color: #00bcd2;
}
.btn-light {
  background-color: #e4e9ec;
}
.btn-outline-primary {
  color: #00bcd2;
  border-color: #00bcd2;
  background-color: #fff;
}
.btn-outline-primary:hover {
  color: #2991d6;
  border-color: #2991d6;
  background-color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.btn-primary.btn-primary:active {
  background-color: #2991d6;
  border-color: #2991d6;
}
.btn-link {
  color: #2991d6;
}
.page-title {
  background-color: #f8f8f8;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}
.page-container {
  background-color: #fff;
}
.form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 0.85rem;
}
input.form-control[type='file'] {
  padding-top: 1px;
  padding-left: 1px;
}
.col-form-label {
  font-size: 0.85rem;
  text-align: right;
}
.form-title {
  font-size: 0.85rem;
  position: relative;
  padding: 0.25rem 0.5rem;
  color: #00bcd2;
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  text-transform: uppercase;
}
.form-container {
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0.5rem;
}
.button-block {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-control-label {
  font-size: 0.85rem;
  padding-top: 0.25rem;
}

.tab-content {
  border: 1px solid #dee2e6;
  margin-top: -1px;
  padding: 0.5rem;
}

.nav-tabs .nav-link {
  color: #003471;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #3e82ff;
  z-index: -1;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #3e82ff;
  fill: #3e82ff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  stroke: #fff;
  stroke-width: 5;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background: #c3c3c3;
  cursor: default;
  color: #444;
  border-color: #c3c3c3;
  pointer-events: none;
}
label > .fa {
  margin-left: 15px;
  opacity: 0.6;
}
.form-sub-title {
  color: #2991d6;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b7b9ba;
}
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  50% {
    transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: scale3d(0);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #75b2f5;
  }
}
@keyframes gettingOut {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.box-radio .custom-control-label {
  background-color: #eaf3f4;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border-radius: 5px;
  margin-left: -1.5rem;
}
.box-radio .custom-control-label::before,
.box-radio .custom-control-label::after {
  top: 0.85rem;
  left: 1rem;
}
.box-radio .custom-control-input:checked ~ .custom-control-label {
  background-color: #00aeff;
  color: #fff;
}
.box-radio .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #143e57;
  background-color: #143e57;
}
.box-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem #00aeff;
}
.box-radio .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem #ffff;
}
.login-wrapper {
  background: url(../img/hero.jpg) no-repeat left top transparent;
  background-size: cover;
}
.login-container {
  background-color: #fff;
  min-height: 100vh;
  margin-left: -15px;
  padding: 1rem 3rem;
}
.login-container h1 {
  color: #00bcd2;
}
.login-container h3 {
  color: #00bcd2;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.custom-table {
  margin-top: 10px;
  font-size: 0.85rem;
}
.custom-table .table {
  margin-bottom: 10px;
}
.custom-table .table > thead > tr > th {
  text-transform: uppercase;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-bottom: 0px none;
  padding: 5px 10px;
}
.custom-table .table > tbody > tr > td {
  border-top: 0px none;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
  vertical-align: middle;
}

.custom-table a,
.custom-table .table > tbody > tr > td .fa {
  color: #00bcd2;
}
.custom-table .table > tbody > tr > td .btn {
  padding: 0;
}
.custom-table .table > tbody > tr > td .btn:focus {
  box-shadow: none;
}
.table-footer {
  margin-bottom: 10px;
  text-align: center;
}
.table-footer .pagination {
  margin: 0px;
  float: left;
}
.table-footer .pagination > li > a,
.table-footer .pagination > li > span {
  border: 0px none;
  border-radius: 0px;
  color: #000;
}
.table-footer .pagination > li.active > a {
  background-color: transparent;
  color: #ff7364;
  font-weight: 600;
}
.entries-count {
  float: right;
  padding-top: 5px;
}
.entries {
  display: inline-block;
}
.entries .form-control {
  display: inline-block;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.advanced-search {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.advanced-search .panel-heading {
  background-color: #00bcd2;
  border-radius: 0px;
  margin: -1px -1px 0px -1px;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
}
.advanced-search .panel-heading h4 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.advanced-search .panel-heading h4 a {
  color: #fff;
}
.advanced-search .panel {
  border-radius: 0px;
}
.advanced-search .panel,
.form-control {
  box-shadow: none;
}
.advanced-search hr {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.advanced-search .panel-heading h4 a .fa-angle-right,
.advanced-search .panel-heading h4 a.collapsed .fa-angle-down {
  display: none;
}
.advanced-search .panel-heading h4 a.collapsed .fa-angle-right {
  display: inline-block;
}
.form-group {
  margin-bottom: 0.5rem;
}
.select2-container--default
  .select2-selection--single.select2-selection--single {
  border-color: #ced4da;
}
/*
 * Responsive
 */
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15);
  }
  .sidebar,
  .navbar-brand {
    min-width: 300px;
    max-width: 300px;
  }
  .main-container {
    min-width: calc(100% - 300px);
    max-width: calc(100% - 300px);
    flex: auto;
  }
  .page-title > .h3 {
    margin-bottom: 0px;
  }
  .main-header .nav .nav-link.active {
    position: relative;
  }
  .main-header .nav .nav-link.active:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #00bcd2;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -11px;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .sidebar {
    padding-top: 0px;
    position: static;
  }
  .main-header .nav {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 0.5rem;
    width: 100%;
    justify-content: center !important;
  }
  .sidebar .sidebar-sticky {
    height: auto;
    padding-top: 0px !important;
  }
  .page-title {
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar.bg-dark {
    background-color: #003471 !important;
  }
  .main-header .nav .nav-link {
    color: #fff;
    padding: 0.5rem 0.4rem;
  }
}
@media (max-width: 575px) {
  .login-container {
    padding: 1rem 1rem;
    margin-right: -15px;
  }
}

.error-text {
  font-size: 0, 85rem;
  color: #dc3545 !important;
}
