body {
  font-size: 1rem;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #c72254;
}
a:hover {
  text-decoration: underline;
}
.main-header .navbar-brand {
  color: #c72254;  
  font-size: 1.875em;
}
.header-stats img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.header-stats li {
  display: flex;
  align-items: center;  
}
.header-stats li span {
  color: #009684;
  font-size: 1.875em;
  padding-left: 10px;
  font-weight: 500;
}
.navbar-light.main-header .navbar-nav .nav-link {
  color: #c72254; 
}
.navbar-light.main-header .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.main-header {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;  
}
.filter-questions {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  margin-top: 1.5rem;
}
.filter-questions > li {
  display: inline-block;
}
.filter-questions > li > a {
  display: inline-block;
  color: #009584;
  border-bottom: 1px solid #009584;
}
.filter-questions > li > a:hover,
.filter-questions > li > a.current {
  text-decoration: none;
  color: #c72254;
  border-color: #c72254;
}
.answer-radio {
  padding: 1rem;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.btn-primary {
  background-color: #c72254;
  border-color: #c72254;
  text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.btn-primary.btn-primary:active {
  background-color: #97012e;
  border-color: #97012e;
}
.btn-outline-secondary {
  border-color: #009584;
  color: #009584;
  text-transform: uppercase;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary.btn-outline-secondary.btn-outline-secondary:active {
  background-color: #009584;
  border-color: #009584;
  color: #fff;
}
.questions-list-container {
  padding: 1.5rem;
  background-color: #f7f7f7;
}
.questions-list {
  list-style: none;
  padding-left: 0px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.questions-list li {
  border: 1px solid #acacac;
  padding: 0.5rem 0rem;
  min-width: 42px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.questions-list li.answered {
  background-color: #398b39;
  color: #fff;
}
.questions-list li.not-answered {
  background-color: #da7b03;
  color: #fff;
}
.questions-list li.current {
  background-color: #c72254;
  color: #fff;
}
.question-list-help {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;  
  font-size: 0.75rem;
  border-top: 1px solid #dedede;
  padding-top: 1rem;
}
.question-list-help li {
  width: 50%;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 20px;
}
.question-list-help li::before {
  width: 15px;
  height: 15px;
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.question-list-help li.current::before {
  background-color: #c72254;
}
.question-list-help li.answered::before {
  background-color: #398b39;
}
.question-list-help li.not-answered::before {
  background-color: #da7b03;
}
.filter-questions > li + li {
  margin-left: 1rem;
}
.login-wrapper {
  background: url(../img/login_bg.svg) no-repeat left top transparent;
  background-size: cover;  
}
.login-container {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem 3rem;
}
.login-container h1 {
  color: #c72254;
}
.login-container h3 {
  color: #009584;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.login-container .form-control {
  height: 45px;
}
.instructions-list {
  list-style: decimal;
}
.instructions-list li + li {
  padding-top: 1rem;
}
.congrats-block img {
  width: 200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.congrats-block h3 {
  color: #009584;
}
/*
 * Responsive
 */
@media screen and (min-width: 1200px) {
  .header-stats li + li {
    padding-left: 50px;
  }  
}
@media screen and (min-width: 992px) {
  .header-stats {
    margin-left: 50px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-stats li + li {
    padding-left: 20px;
  }  
  .header-stats li,
  .header-stats + .navbar-nav {
    font-size: 0.85rem;
  }
  .header-stats li span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .quiz-wrapper {
    overflow: hidden;
  }
  .questions-list-container {
    position: relative;
  }
  .questions-list-container::before {
    position: absolute;
    width: 2000px;
    height: 100%;
    content: '';
    display: block;
    left: 100%;
    top: 0px;
    background-color: #f7f7f7;
    z-index: -1;
  }  
  .header-stats img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-stats {
    flex-direction: row;
    justify-content: space-around;    
  }
  .header-stats + .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .header-stats + .navbar-nav > .nav-item + .nav-item {
    margin-left: 1.5rem;
  }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .questions-list-container {
    margin-top: 1.5rem;
  }
}
@media (max-width: 575px) {
  .btn-lg {
    font-size: 1rem;
  }
}

