body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #333;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #02ada5;
}

.container {
  max-width: 1180px;
}

h4 {
  font-weight: 500;
}
/*-->
Margin & Padding
<--*/

/* HEADER CSS STARTS HERE */

.main-header.navbar-default {
  border-radius: 0px;
  border: 0px none;
  border-bottom: 1px solid rgba(2, 150, 132, 0.1);
  margin-bottom: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.02);
  background-color: #fff;
}

.main-logos a {
  text-indent: -9999px;
  height: 80px;
  background-size: 80% !important;
}
.main-logos.main-logos a + a.navbar-brand {
  margin-left: 0px;
  border-left: 1px solid rgba(2, 150, 132, 0.1);
}
.main-logos a.rv-trust-logo {
  background: url(../img/rv_institutes.png) no-repeat center center transparent;
  width: 150px;
}
.main-logos a.nanochip-logo {
  background: url(../img/nanochip.png) no-repeat center center transparent;
  width: 155px;
}
.main-logos a.rv-skills-logo {
  background: url(../img/rvskills.svg) no-repeat center center transparent;
  width: 120px;
}
.main-logos a.rv-vlsi-logo {
  background: url(../img/rvvlsi.svg) no-repeat center center transparent;
  width: 130px;
}
.main-logos a.rv-ae-logo {
  background: url(../img/rvae.svg) no-repeat center center transparent;
  width: 85px;
}
.main-logos a.rv-ai-logo {
  background: url(../img/rvai.svg) no-repeat center center transparent;
  width: 75px;
}
.main-header .navbar-nav li a {
  color: #000;
  text-transform: uppercase;
}
.main-header .navbar-nav li.active a,
.main-header .navbar-nav li.active a:focus,
.main-header .navbar-nav li.active a:hover {
  background-color: transparent;
  font-weight: 500;
}
.main-header .navbar-nav li.nav-btn a,
.btn-primary {
  background-color: #015aaa;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-color: #015aaa;
  height: 50px;
}
.main-header .navbar-nav li.nav-btn a:hover,
.main-header .navbar-nav li.nav-btn a:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #004888;
  color: #fff;
  border-color: #004888;
}
.header-title {
  padding-top: 10px;
  text-align: center;
}
.header-title span {
  color: #015aaa;
  font-weight: 700;
}
/* HEADER CSS ENDS HERE */

/* FOOTER CSS STARTS HERE */
.footer-wrapper {
  background-color: rgba(2, 150, 132, 0.05);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
  color: #000;
}
/* FOOTER CSS ENDS HERE */
.vote-table tbody > tr > td {
  vertical-align: middle;
}
.vote-table tbody > tr > td > img {
  max-width: 200px;
  display: inline-block;
}
.radio label,
.checkbox label {
  padding-left: 30px;
}
.radio input[type='radio'],
.radio-inline input[type='radio'],
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] {
  opacity: 0;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  padding-left: 30px;
}
.checkbox input[type='checkbox'] ~ .check-radio,
.checkbox-inline input[type='checkbox'] ~ .check-radio,
.radio input[type='radio'] ~ .check-radio,
.radio-inline input[type='radio'] ~ .check-radio {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #bfbfbf;
  background: #fff;
  border-radius: 3px;
  left: 0px;
  transition: all 0.1s ease-out;
}

.radio input[type='radio'] ~ .check-radio,
.radio-inline input[type='radio'] ~ .check-radio {
  border-radius: 10px;
}

.checkbox input[type='checkbox']:checked ~ .check-radio,
.checkbox-inline input[type='checkbox']:checked ~ .check-radio {
  background: url('../img/check-mark.svg') no-repeat center center #02ada5;
  background-size: 12px;
  border-color: #02ada5;
}
.radio input[type='radio']:checked ~ .check-radio,
.radio-inline input[type='radio']:checked ~ .check-radio {
  background: url('../img/radio-mark.svg') no-repeat center center #fff;
  background-size: 12px;
  border-color: #02ada5;
}
.radio.vote-radio input[type='radio'] ~ .check-radio {
  width: 75px;
  height: 50px;
  border-radius: 30px;
  border-color: #015aaa;
}
.radio.vote-radio input[type='radio']:checked ~ .check-radio {
  background: url(../img/vote_checked.svg) no-repeat center center #fff;
  background-size: 65px;
}
.section-title {
  color: #02ada5;
  padding-top: 20px;
}
.thankyou-container {
  text-align: center;
  padding: 50px 0px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  border-radius: 10px;
}
.thankyou-container img {
  width: 100px;
}
.thankyou-container .section-title {
  padding-top: 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-logos.main-logos a + a.navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-header .navbar-nav {
    padding-top: 10px;
  }
  .main-header .navbar-nav li + li {
    padding-left: 30px;
  }
  .main-header .navbar-nav li:not(.nav-btn) a {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main-container {
    min-height: calc(100vh - 195px);
  }
  #navbar .main-logos {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .main-header .navbar-toggle {
    margin-top: 18px;
    background-color: #fff;
  }
  .main-header .navbar-toggle:hover,
  .main-header .navbar-toggle:focus {
    background-color: #02ada5;
    border-color: #02ada5;
  }
  .main-header .navbar-toggle:hover .icon-bar,
  .main-header .navbar-toggle:focus .icon-bar {
    background-color: #fff;
  }

  .main-header .navbar-nav {
    margin: 5px 0px;
    text-align: center;
  }
  .main-header .navbar-nav li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #navbar .main-logos {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .main-logos.main-logos a + a.navbar-brand {
    display: none;
  }
}
